In [14]:
import pandas as pd
import numpy as np 
import seaborn as sb
import matplotlib.pyplot as plt

In [2]:
dining = pd.read_csv("/Users/rubyhickman/Documents/01_michigan/mdst/MDining/data/menu-15.csv")

In [27]:
dining["calories"].quantile([.95, .98, .985, .9875, .99, .995])

0.9500     477.0000
0.9800     692.2200
0.9850     944.9150
0.9875    1389.2375
0.9900    2083.4700
0.9950    5588.3050
Name: calories, dtype: float64

In [28]:
cut = dining[dining['calories']<1000] #values over 1000 calories are not plausible serving sizes

In [54]:
cut = cut[cut['serving_size_(g)']<1100] #values over 1100g are not plausible serving sizes

In [71]:
cut = cut[cut['protein (g)']<100] #cut 3256	Chelis Chili Topping

In [72]:
cut = cut[cut['vitaminA_mcg']<5000] #cut 3777	Baby Kale Salad

In [73]:
cut.describe()

,serving_size_(g),calories,total fat (g),sodium (g),carbs (g),fiber (g),sugar (g),protein (g),vitaminA_mcg,vitaminC_mg,calcium_mg,iron_mg
count,4069.000000,4069.000000,4069.000000,4069.000000,4069.000000,4069.000000,4069.000000,4069.000000,4069.000000,4069.00000,4069.000000,4069.000000
mean,109.671664,182.389776,8.835832,0.342458,17.803883,1.662325,5.469403,8.194151,102.448267,12.35913,73.214058,1.224566
std,72.411821,130.884050,9.211893,0.384359,15.626238,2.027590,8.808453,8.374274,242.484938,25.18098,99.013550,1.637830
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
25%,58.000000,91.000000,2.000000,0.101000,5.000000,0.000000,1.000000,2.000000,9.000000,0.00000,13.000000,0.360000
50%,100.000000,156.000000,7.000000,0.240000,15.000000,1.000000,3.000000,5.000000,36.000000,3.60000,39.000000,0.900000
75%,136.000000,248.000000,12.000000,0.478000,26.000000,2.000000,6.000000,13.000000,99.000000,13.50000,91.000000,1.620000
max,1021.000000,976.000000,83.000000,7.216000,146.000000,26.000000,156.000000,91.000000,4167.000000,450.90000,871.000000,58.320000